{% load static %}
<!DOCTYPE html>
<html>
<head>
<style>
nav#nav1{ margin-top: 24px; }
nav#nav1 > a{ background:red; color:#000; padding:10px; text-decoration:none; border-radius:5px; font-family:"Arial White", Gadget, sans-serif; }
nav#nav1 > a:hover{ background: blue; }
nav#nav1 > a:active{ background: red; }
</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

	<title></title>
</head>
<body>
<script>
var bleep = new Audio();
bleep.src = "{% static 'media/bleep.mp3' %}";


</script>
</body>
</html>


  <br>
<div class="container-fluid">
{% if request.user.is_authenticated %}
      <li class="nav-item active">
      <p> Logged in as:<span class="text-danger">{{request.user}}</span> </p>
      </li>
{% endif %}
<a  class="btn btn-info" href="{% url 'todoapp:home' %}">Home</a>
<a  class="btn btn-info" href="{% url 'todoapp:todocreate' %}">Createnew task</a>
	<a  class="btn btn-info" href="{% url 'todoapp:todolist' %}">View all task</a>
	<a  class="btn btn-info" href="{% url 'todoapp:signout' %}">Signout</a>
<hr>
<p class="text-center">Your task list</p>
</div>







{% block content %}
{% endblock %}

