<div class="container">
<p class="text-center">Expire project lits..</p>
<div class="row">
{% for todo in exptodolist %}
	<aside class="col-sm-3">

{%  extends "base.html" %}
{% load static %}

	{% block content %}
<div class="card">

	<article class="card-group-item">
		<header class="card-header" ><b>
		<h6 class="title">{{todo.title}} </h6></b></header>
		<p style="text-align: center;">Steps</p>
		<hr>






		<div class="filter-content">
			<div class="list-group list-group-flush">
		{% for comment in todoobject.comment_set.all %}
			  <a href="#" class="list-group-item">{{comment.text}} <span class="float-right badge badge-light round">142</span> </a>
			{% empty %}
		<p>No Progress yet :(</p>
			{% endfor %}
			</div>  <!-- list-group .// -->
		</div>
		
	</article> <!-- card-group-item.// -->
	<article class="card-group-item">
		
		<!-- <h5>Start Date:{{todo.start_date}}</h5>
		<p>Expected end date:{{todo.end_date}}</p>
		<hr> -->
		<header class="card-header">
		<h6 class="title">Task Status</h6>
		<p><a href="{% url 'todoapp:todolistdetail' todo.id %}">View detail</a></p>


		</header>
		<div class="filter-content">
			
			<div class="card-body">
			
			
			
                 {% if todo.end_date < today %} 
				<label class="btn btn-danger">
				 
				  Expired
				</label>
				{% else %} 
				<label class="btn btn-info">
				  
				  Ongoing
				</label>
				
			{% endif %}
		</div>
		




	</article> <!-- card-group-item.// -->

</div> <!-- card.// -->



	</aside> <!-- col.// -->
{% endfor %}
</div> <!-- row.// -->
<a  class="btn btn-info text-center" href="{% url 'todoapp:expiretodolist' %}" >View all Expire task</a>
</div>

{% endblock %} 