{%  extends "base.html" %}
{% load static %}

	{% block content %}
	
<div class="container">
<p class="text-center">Your on going project lits..</p>
<div class="row">
{% for todo in todolist|slice:"4"  %}
	<aside class="col-sm-3">


<div class="card">

	<article class="card-group-item">
		<header class="card-header" ><b>
		<h6 class="title">{{todo.title}} </h6></b></header>
		<p style="text-align: center;">Steps</p>
		<hr>



<!-- 		{% for comment in todoobject.comment_set.all %}
		<li>  {{comment.text}} </li>
		
		{% empty %}
		<p>No Progress yet :(</p>
		{% endfor %} -->




		<div class="filter-content">
			<div class="list-group list-group-flush">
		{% for comment in todo.comment_set.all %}
			  <p class="list-group-item">{{comment.text}} on {{comment.created_at}}</p>
			{% empty %}
		<p>No Progress yet :(</p>
			{% endfor %}
			</div>  <!-- list-group .// -->
		</div>
		
	</article> <!-- card-group-item.// -->
	<article class="card-group-item">
		
		<!-- <h5>Start Date:{{todo.start_date}}</h5>
		<p>Expected end date:{{todo.end_date}}</p>
		<hr> -->

		<header class="card-header">
		<h6 class="title">Task Status</h6>
	
	
 {% if todo.end_date < today %} 
				<label class="btn btn-danger" >
				 
				  Expired
				</label>

				{% else %} 
				<label class="btn btn-info">
				  
				  Ongoing
				</label>

		</header>
		<div class="filter-content">
			
			<div class="card-body">
			
			
			
                
			
					<p><a href="{% url 'todoapp:todolistdetail' todo.id %}">View detail</a></p>
			{% endif %}
		</div>
		




	</article> <!-- card-group-item.// -->

</div> <!-- card.// -->



	</aside> <!-- col.// -->
{% endfor %}
</div> <!-- row.// -->
</div>
<hr>
<a  class="btn btn-info text-center" href="{% url 'todoapp:ongoingtodolist' %}" >View all ongoing task</a>
 <div class="container">
<p class="text-center">Expire project lits..</p>
<div class="row">
{% for todo in exptodolist %}
	<aside class="col-sm-3">


<div class="card">

	<article class="card-group-item">
		<header class="card-header" ><b>
		<h6 class="title">{{todo.title}} </h6></b></header>
		<p style="text-align: center;">Steps</p>
		<hr>






		<div class="filter-content">
			<div class="list-group list-group-flush">
		{% for comment in todoobject.comment_set.all|slice:"4" %}
			  <a href="#" class="list-group-item">{{comment.text}} <span class="float-right badge badge-light round">142</span> </a>
			{% empty %}
		<p>No Progress yet :(</p>
			{% endfor %}
			</div>  <!-- list-group .// -->
		</div>
		
	</article> <!-- card-group-item.// -->
	<article class="card-group-item">
		
		<!-- <h5>Start Date:{{todo.start_date}}</h5>
		<p>Expected end date:{{todo.end_date}}</p>
		<hr> -->
		<header class="card-header">
		<h6 class="title">Task Status</h6>
		
                 {% if todo.end_date < today %} 
					<nav id="nav1">
    <a href="#" onmousedown="bleep.play()">Expire</a>
    </nav>
				{% else %} 
				<label class="btn btn-info">
				  
				  Ongoing
				</label>
				
			{% endif %}


		</header>
		<div class="filter-content">
			
			<div class="card-body">
			
			
			
		<p><a href="{% url 'todoapp:todolistdetail' todo.id %}">View detail</a></p>
		</div>
		




	</article> <!-- card-group-item.// -->

</div> <!-- card.// -->



	</aside> <!-- col.// -->
{% endfor %}
</div> <!-- row.// -->
<a  class="btn btn-info text-center" href="{% url 'todoapp:expiretodolist' %}" >View all Expire task</a>
</div>

	{% endblock %} 