{% load static %}

{% block content %}

           
                <form method="post" action="{% url 'todoapp:signin' %}" style="text-align: center;">
                     {% if error %}
    <li class="text-danger">{{error}}</li>
    {% endif %}
                    {% csrf_token %}

                    {{form.as_p}}
                    
                    
                    <button type="submit" class="btn btn-primary ">Login</button>
                    <button><a href="{% url 'todoapp:signup' %}"> Register here</button></a>
                </form>
{% endblock %} 