{% extends 'base.html' %}

{% block content %}
<!-- main-heading -->
            <!-- <h2 class="main-title-w3layouts mb-2 text-center">Service Form</h2> -->
            <!--// main-heading -->

            <!-- Forms content -->
            <section class="forms-section">

              
                
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Add new project</h4>
                    <form action="{% url 'todoapp:todocreate'%}" method="POST" enctype="multipart/form-data">
                    	{% csrf_token %}
                    	{{form.as_p}}
                   
                        
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
               
             
            </section>
{% endblock %}