{%  extends "base.html" %}
{% load static %}


	{% block content %}

<!--   <a  class="btn btn-info" href="{% url 'todoapp:todocreate' %}">Createnew task</a>
<h3>My to do list</h3>
{% for todo in todolist %}
<li>todo name:{{todo.title}}{% if todo.end_date < today %} (expired) {% endif %}</li>
<p>start date:{{todo.start_date}}</p>
<p>Goal to be achieve untill:{{todo.end_date}}</p>
<a href="{% url 'todoapp:todolistdetail' todo.id %}">View detail</a>
                            
  {% endfor %} -->
<!-- 
<h3>Expired Todo list</h3>
{% for todo in exptodolist %}
<li>todo name:{{todo.title}}</li>
<p>start date:{{todo.start_date}}</p>
<p>Goal to be achieve untill:{{todo.end_date}}</p>
<a href="{% url 'todoapp:todolistdetail' todo.id %}">View detail</a>
                            
  {% endfor %} -->






<div class="container">
<div class="row">
{% for todo in todolist %}
	<aside class="col-sm-4">


<div class="card">

	<article class="card-group-item">
		<header class="card-header" ><b>
		<h6 class="title">{{todo.title}}{% if todo.end_date < today %} (expired) {% endif %} </h6></b></header>
		<p style="text-align: center;">Steps</p>
		<hr>



	<!-- 	{% for comment in todoobject.comment_set.all %}
		<li>  {{comment.text}} on {{comment.date|timesince}} ago</li>
		
		{% empty %}
		<p>No Progress yet :(</p>
		{% endfor %} -->




		<div class="filter-content">
			<div class="list-group list-group-flush">
		{% for comment in todoobject.comment_set.all %}
			  <a href="#" class="list-group-item">{{comment.text}} <span class="float-right badge badge-light round">142</span> </a>
			{% empty %}
		<p>No Progress yet :(</p>
			{% endfor %}
			</div>  <!-- list-group .// -->
		</div>
		
	</article> <!-- card-group-item.// -->
	<article class="card-group-item">
		
		<!-- <h5>Start Date:{{todo.start_date}}</h5>
		<p>Expected end date:{{todo.end_date}}</p>
		<hr> -->
		<header class="card-header">
		<h6 class="title">Task Status</h6>
		<p><a href="{% url 'todoapp:todolistdetail' todo.id %}">View detail</a></p>


		</header>
		<div class="filter-content">
			
			<div class="card-body">
			
			
			
                 {% if todo.end_date < today %} 
				<label class="btn btn-danger">
				 
				  Expired
				</label>
				{% else %} 
				<label class="btn btn-info">
				  
				  Ongoing
				</label>
				
			{% endif %}
		</div>
		




	</article> <!-- card-group-item.// -->

</div> <!-- card.// -->



	</aside> <!-- col.// -->
{% endfor %}
</div> <!-- row.// -->

</div>
	{% endblock %} 