{%  extends "base.html" %}
{% load static %}


	{% block content %}


<h3>My to do list</h3>

<li>todo name:{{todoobject.title}}</li>
<li>start date:{{todoobject.start_date}}</li>
<li>Goal to be achieve untill:{{todoobject.end_date}}</li>

                          
  

		<h4>Progress</h4>

		{% for comment in todoobject.comment_set.all %}
		<li>  {{comment.text}} on {{comment.date|timesince}} ago</li>
		
		{% empty %}
		<p>No Progress yet :(</p>
		{% endfor %}

		<h4>Add your progress report here</h4>

		<form method="POST" action="{% url 'todoapp:stepcreate' todoobject.pk %}">
			{% csrf_token %}
			{{todoform.as_p}}
			<button class="btn btn-success">Add report</button>

		</form>
	{% endblock %} 